.technologies-page-container {
  height: 100%;
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1000px;
}


.technologies-title-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
}

.technologies-box-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 65%;
  background-color: var(--primary-color);
  border-radius: 15px;
  margin: auto;
  margin-top: 120px;
}

.technologies-description {
  margin-top: 20px;
}
.technologies-description p {
  color: gray;
  letter-spacing: 2px;
  line-height: 30px;
  margin-block-end: 15px;
  font-family: "Fira Code", sans-serif;
}