.email-right {
  position: fixed;
  top: 55%;
  right: 100px;
}

.email-right a {
  writing-mode: vertical-rl;
  color: var(--tertiary-color);
  font-size: 15px;
  letter-spacing: 3px;
  text-decoration: none;
}

.email-right::after {
  content: "";
  display: block;
  width: 1px;
  height: 200px;
  margin: 0px auto;
  margin-top: 30px;
  background-color: var(--tertiary-color);
}

.email-right a:hover {
  color: var(--secondary-color);
  transition: .2s ease-out;
  transform: translateY(-2px);
}