.icons-left {
  position: fixed;
  top: 55%;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icons-list {
  list-style: none;
}

.icons-list li {
  font-size: 25px;
  color: var(--tertiary-color);
  margin-top: 15px;
}

.icons-list li a {
  cursor: pointer;
  color: inherit;
}

.icons-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 200px;
  margin: 0px auto;
  margin-top: 30px;
  background-color: var(--tertiary-color);
}

.icons-list li:hover {
color: var(--secondary-color);
transform: translateY(-2px);
transition: .2s ease-out;
}

.icons-list li a:visited,
.icons-list li a:active {
  color: inherit;
}

.icons-list:active {
  color: inherit;
}