.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin-bottom: 100px;
}

.main-menu {
  list-style: none;
  display: flex;
}
.main-menu {
  border-bottom: 1.8px solid rgb(54, 54, 54);
}

.main-menu li a {
  text-decoration: none;
  margin: 10px;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  letter-spacing: 6px;
  font-size: 1.2rem;
  font-weight: 700;
}
.nav ul li:hover {
  background-color: rgba(0, 128, 0, 0.425);
  border-radius: 2px;
}

.open-menu, .close-menu {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-size: 40px;
}

.icons {
  display: none;
}

.logo {
  width: 50%;
  height: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-square {
  width: 20px;
  height: 20px;
  margin-left: 50px;
  margin-top: 5px;
  background-color: var(--secondary-color);
  animation: blink 1s linear infinite;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .open-menu {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 128, 0, 0.425);
  }
  .hamburger-icon {
    position: fixed;
    top: 10px;
    left: 10px;
  }
  
  .home-icon {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .main-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .main-menu li {
    margin: 10px 0 10px 0;
  }
  .main-menu li a {
    font-size: 1.9rem;
    font-weight: 400;
  }

  .main-menu.show {
    display: flex;
    transform: translateY(0);
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .terminal-link {
    display: none;
  }
  .logo {
    display: none;
  }
  .icons {
    display: block;
    font-size: 2rem;
  }
  .icons svg {
    margin: 10px;
    color: var(--primary-color);
  }
}