/* .nav {
  width: 100%;
  display: flex;
  color: white;
  height: 100px;
  padding-top: 50px;
  transition: top 0.3s ease-in-out;
}
.main-menu {
  display: flex;
}

.main-menu ul {
  display: flex;
  align-items: center;
  border-bottom: 1.8px solid rgb(54, 54, 54);
  list-style: none;
}

.main-menu li {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: .9em;
  font-family: sans-serif;
  list-style: none;
}
.nav ul li a {
  color: var(--color1);
  padding: 15px;
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'VT323', monospace;
  letter-spacing: 6px;
  font-weight: 800;
  text-transform: uppercase;
}


.nav ul li:hover {
  background-color: rgba(0, 128, 0, 0.425);
  border-radius: 2px;
}

.logo {
  width: 50%;
  height: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-square {
  width: 20px;
  height: 20px;
  margin-left: 50px;
  margin-top: 5px;
  background-color: var(--secondary-color);
  animation: blink 1s linear infinite;
}
nav .open-menu {
  display: none;
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
}
nav .close-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.icons {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .logo{
    display: none;
  }
  .nav {
    justify-content: center;
  }
  .nav-menu-container ul {
    border: none;
  }
}

@media (max-width: 991px) {
  
  .nav-menu-container ul {
    align-items: center;
  }

  .nav-menu-container li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .open-menu {
    display: block;
  }
  .main-menu.show {
    display: flex;
  }
  
  .nav-menu-container ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: auto;
    background-color: rgb(115, 124, 100);
    height: 100vh;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 1rem;
  }
  nav .main-menu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
  }
  nav .main-menu .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .open-menu {
    display: block;
  }
  nav .main-menu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 12px;
  }
} */


.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin-bottom: 100px;
}

.main-menu {
  list-style: none;
  display: flex;
}
.main-menu {
  border-bottom: 1.8px solid rgb(54, 54, 54);
}

.main-menu li a {
  text-decoration: none;
  margin: 10px;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  letter-spacing: 6px;
  font-size: 1.2rem;
  font-weight: 700;
}
.nav ul li:hover {
  background-color: rgba(0, 128, 0, 0.425);
  border-radius: 2px;
}

.open-menu, .close-menu {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-size: 40px;
}

.icons {
  display: none;
}

.logo {
  width: 50%;
  height: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-square {
  width: 20px;
  height: 20px;
  margin-left: 50px;
  margin-top: 5px;
  background-color: var(--secondary-color);
  animation: blink 1s linear infinite;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .open-menu {
    display: block;
    position: fixed;
    top: 10px;
  }

  .main-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .main-menu li {
    margin: 10px 0 10px 0;
  }
  .main-menu li a {
    font-size: 1.9rem;
    font-weight: 400;
  }

  .main-menu.show {
    display: flex;
    transform: translateY(0);
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .terminal-link {
    display: none;
  }
  .logo {
    display: none;
  }
  .icons {
    display: block;
    font-size: 2rem;
  }
  .icons svg {
    margin: 10px;
    color: var(--primary-color);
  }
}