
.fade-in {
  opacity: 0;
  transition: opacity 1s;
}

section {
  height: 100vh;
}

.fade-in.visible {
  opacity: 1;
}

.screen:before {
  animation: wave 15s infinite ease-in-out;
  content: "";
  height: 1vh;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  z-index: 1;
}

/* @keyframes wave {
  0% {
    box-shadow: 0 -10vh 20vh #0c0;
    top: -20vh;
  }
  48%, 52% {
    box-shadow: 0 -10vh 20vh #090;
  }
  50% {
    box-shadow: 0 -10vh 20vh #060;
  }
  100% {
    box-shadow: 0 -10vh 20vh #0c0;
    top:410vh;
  }
} */

/*wave mas suave*/

/* @keyframes wave {
  0% {
    box-shadow: 0 -10vh 7vh rgba(0, 204, 0, 0.205);
    top: -20vh;
  }
  48%, 52% {
    box-shadow: 0 -10vh 7vh rgba(0, 204, 0, 0.205);
  }
  50% {
    box-shadow: 0 -10vh 7vh rgba(0, 204, 0, 0.205);
  }
  100% {
    box-shadow: 0 -10vh 7vh rgba(0, 204, 0, 0.205);
    top:410vh;
  }
} */





@media (max-width: 991px) {
  .icons-list {
    display: none;
  }
  .email-right {
    display: none;
  }
  #terminal-section {
    display: none;
  }
}

@media (max-width: 767px) {
  section {
    height: auto;
  }
}