@import url('https://fonts.googleapis.com/css2?family=Monofett&family=PT+Mono&family=Rubik+Distressed&family=Rubik+Marker+Hatch&family=VT323&display=swap');
html {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: var(--crt-background);
  background-size:6px 6px;
  animation: scanlines 10s linear infinite;
  min-height: 500vh;
}


.main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}



@keyframes scanlines {
  0% {
      background-position: -2000px -2000px;
  }
  100% {
      background-position: -4000px -4000px;
  }
}

.scan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.062);
  animation: scan 7s linear infinite;
}

@keyframes scan {
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(calc(100vh + 4px));
  }
}