@font-face {
  font-family: 'fuente1';
  src: url('./styles/fonts/VT323-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  src: url('./styles/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

:root {
  --primary-color: #BFAE48;
  --secondary-color: #00FF00;
  --tertiary-color: #76fa4c;
  --quaternary-color: #fff;
}

:root {
  --crt-background: linear-gradient(90deg,
  rgb(14, 14, 20) 25%, rgb(3, 3, 0) 25%, rgb(0, 0, 0) 50%,
  rgb(0, 0, 0) 50%, rgb(0, 34, 7) 75%, rgb(0, 32, 12) 75%, rgb(0, 0, 0));
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
